body {margin: 0.5vh;}

.line {
    padding: 0.33%;

    color: white;
    background: black;

    font-size: 4vh;
}
.line2 {
    padding: 0.33%;

    color: white;
    background: darkred;

    font-size: 3vh;
}

.important-line {
    padding: 0.33%;

    color: white;
    background: red;

    font-size: 3vh;
}

.flex-space-around {
    display: flex; justify-content: space-around;
}

.flex-wrap {
    display: flex; flex-wrap: wrap;
}

